* {
box-sizing: border-box;
background: #E5E5E5;
}

h1 {
    text-align: center;
}

.dodyhed {
   margin: 0 100px 0;
   height: 400px;
}

p {
    background: #E0E0E0; 
    text-align: center;
}

.body1 {
    background: #E0E0E0;
    display: inline-block;
    width: 33%;
}

.photomem {
    height: auto;
    width: 300px;
}

.body2 {
    background: #E0E0E0;
    display: inline-block;
    width: 33.3%;
}

.psun {
    height: auto;
    width: 300px;
}

.body3 {
    background: #E0E0E0;
    display: inline-block;
    width: 33.3%;
    margin: 0 -10px 0 0;
    text-align: center;
}

.dodymain {
    margin: 0 100px 0;
    height: 400px;
}

.meni {
    background: #E0E0E0;
    display: inline-block;
    width: 33%;
    text-align: center;
}

.pho_meni {
    height: 280px;
    width: auto;
}

.scream {
    background: #E0E0E0;
    display: inline-block;
    width: 33%;
    text-align: center;
}

.pho_scream {
    height: 280px;
    width: auto;
}

.mona {
    background: #E0E0E0;
    display: inline-block;
    width: 33%;
    text-align: center;
}


.futer {
    margin: 0 100px 0;
    height: 400px;
}

.maha {
    background: #E0E0E0;
    display: inline-block;
    width: 33%;
    text-align: center;
}

.pho_maha {
    height: auto;
    width: 320px;
}

.gernika {
    background: #E0E0E0;
    display: inline-block;
    width: 33%;
    text-align: center;
}

.pho_ger {
    height: auto;
    width: 380px;
}

.venera {
    background: #E0E0E0;
    display: inline-block;
    width: 33%;
    text-align: center;
}

.pho_ven {
    height: auto;
    width: 320px;
}